<app-navbar-place class="h-0 hidden" ngSkipHydration>
	<ng-template ngSkipHydration
				 #right>
		<fkt-input
			[control]="searchControl"
			class="!w-[400px] mb-2"
			placeholder="Pesquisar"
		/>
	</ng-template>
</app-navbar-place>

<div class="flex flex-col h-full w-full max-h-full">
	<div class="p-4 w-full flex flex-col h-full min-h-0">
		<div class="w-full h-full flex min-h-0">
			@let responseValue = response.value();

			<fkt-table
				class="flex overflow-auto w-full h-full shadow-lg"
				[mainAction]="responseValue.languages.length > 0 ? createAction : undefined"
				[loading]="response.isLoading()"
				[noResults]="noResults()"
				[columnsFn]="columnsFn()"
				[classesFn]="classesFn"
				[actionsFn]="actionsFn"
				[data]="response.value().results"
			/>
		</div>
	</div>
	@if (responseValue.changesCount) {
		<div class="bg-gray-600 w-full h-fit flex justify-between p-2">
			<div class="w-full"></div>
			<div
				class="font-semibold text-lg w-full flex justify-center text-white items-center"
			>
				<p>
					{{ responseValue.changesCount }}
					@if (responseValue.changesCount === 1) {
						tradução alterada
					} @else {
						traduções alteradas
					}
				</p>
			</div>
			<div class="w-full flex gap-2 justify-end">
				<fkt-button
					(click)="discardAll()"
					text="Descartar alterações"
					color="red"
				/>
				<fkt-button (click)="reviewChanges()"
							text="Revisar alterações"
							color="yellow"/>
			</div>
		</div>
	}
</div>
