<div class="flex gap-2 items-center">
	<label [class.!text-red-500]="!!error.message()"
		   class="text-gray-800 font-medium text-sm mb-1">{{ label() }}</label>
</div>

<div class="relative">
	<input
		[spellcheck]="spellcheck() ? 'true' : 'false'"
		[class.!pr-10]="type() === 'password'"
		[class.!border-red-500]="!!error.message()"
		class="!border-[1px] border-transparent"
		#input
		[type]="inputType()"
		[placeholder]="placeholder()"
		[formControl]="control()"
	/>
	@if (type() === "password") {
		<div class="absolute top-2 right-2 cursor-pointer">
			@if (showPassword()) {
				<app-icon
					(click)="showPassword.set(false)"
					iconClasses="size-6 text-gray-500 hover:text-yellow-600 transition"
					name="eye-slash"
				/>
			} @else {
				<app-icon
					(click)="showPassword.set(true)"
					iconClasses="size-6 text-gray-500 hover:text-yellow-600 transition"
					name="eye"
				/>
			}
		</div>
	}
</div>


<app-field-error #error [control]="control()"/>
