<div class="overflow-x-auto w-full flex-1">
	@if (loading()) {
		<div class="w-full h-[70px] bg-gray-700"></div>
		<div class="w-full min-h-[90vh] flex flex-col justify-center items-center">
			<app-spinner/>
		</div>
	} @else if (data().length) {
		<table class="w-full table-fixed border border-t-0 border-l-0 border-r-0 border-gray-200 text-sm">
			<thead class="bg-gray-700 text-left">
			<tr>
				@for (header of headers(); track header.position) {
					<th class="px-4 py-2 border-b text-white font-medium ">
						<p>
							{{ header.name }}
						</p>
					</th>
				}
				<th class="px-4 py-2 border-b font-bold text-gray-800 w-32">
				</th>
			</tr>
			</thead>
			<tbody>
				@for (item of columns(); track item) {
					<tr
						[class]="'hover:bg-gray-50 ' + (item.item | call: classesFn())"
					>
						@for (column of item.columns; track column.position) {
							<td class="px-4 py-2 break-words border-b text-gray-800">
								@if ('component' in column) {
									<app-custom-cell-renderer
										[column]="column"
									/>
								} @else {
									<div [class]="(column.classes ?? []) | toClass">
										{{ column.value }}
									</div>
								}
							</td>
						}
						<td class="px-4 py-2 border-b text-gray-800 whitespace-nowrap">
							<div class="flex justify-end">
								@for (action of actions()[$index]; track action.name) {
									@if (action.condition) {
										<app-icon
											[class]="'cursor-pointer hover:scale-125 transition ' + ((action.classes ?? []) | toClass)"
											(click)="action.click()"
											[name]="action.icon"
										/>
									}
								}
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	} @else {
		<div
			class="min-w-full min-h-[80vh] flex flex-col justify-center items-center"
		>
			@let noResultsVar = noResults();
			@if (noResultsVar.icon) {
				<app-icon
					[name]="noResultsVar.icon.name"
					[iconClasses]="noResultsVar.icon.classes ?? ''"
				/>
			}
			<h1 class="text-xl font-bold text-gray-500">{{ noResultsVar.label }}</h1>
			@if (noResultsVar.description) {
				<p class="text-lg font-medium text-gray-400">
					{{ noResultsVar.description }}
				</p>
			}
		</div>
	}
</div>
