<div class="w-full bg-blue-400 flex gap-2 justify-end p-4">
    <button (click)="add()"
        class="bg-blue-800 text-white px-4 py-2 transition text-md rounded-md shadow-blue-600 drop-shadow-none shadow-md hover:shadow-blue-800 hover:bg-blue-700">
        Nova tradução
    </button>
    <div class="relative w-fit items-center">
        <input class="outline-none border-blue-400 min-w-[300px] border-2 rounded-md p-2" placeholder="Pesquisar"
            [formControl]="searchControl" />

        <div class="absolute right-2 bottom-0 h-full flex items-center text-blue-400">
            <app-icon name="magnifying-glass" />
        </div>
    </div>
</div>


<app-translations-table ngSkipHydration [languages]="response.value().languages" (edit)="update($event)"
    (reset)="reset($event)" [translations]="response.value().results" />

@let changesCount = response.value().changesCount;

@if (changesCount) {
<div class="bg-blue-400 w-full fixed bottom-0 flex justify-between p-2">
    <div class=" w-full"></div>
    <div class="font-semibold text-lg w-full flex justify-center items-center">
        <p>
            {{changesCount}}

            @if (changesCount === 1) {
            mudança
            }
            @else {
            mudanças
            }
        </p>

    </div>


    <div class="w-full flex justify-end">
        <button (click)="saveAll()"
            class="bg-blue-800 text-white px-4 py-2 transition text-md rounded-md shadow-blue-600 drop-shadow-none shadow-md hover:shadow-blue-800 hover:bg-blue-700">
            Salvar alterações
        </button>
    </div>

</div>
}