<h2 class="text-xl w-full text-center font-semibold mb-4">{{ title() }}</h2>
<div class="max-h-[72vh] overflow-y-scroll overflow-x-hidden">
  <div
    class="block rounded-md mb-2 border-gray-500 p-0 focus-within:p-2 focus-within:bg-gray-100 focus-within:border focus-within:border-gray-400 transition"
  >
    <label class="text-gray-800 font-medium text-sm">Caminho da tradução</label>
    <input
      class="outline-none border-gray-400 w-full border-2 rounded-md p-2"
      placeholder="Insira aqui o caminho da tradução"
      [formControl]="form.controls.path"
    />
  </div>

  <app-translations-form-language
    class="block rounded-md mb-2 border-gray-500 focus-within:p-2 focus-within:bg-gray-100 focus-within:border focus-within:border-gray-400 transition"
    [entry]="mainLanguageEntry()"
    [form]="form.controls.entries"
    [language]="mainLanguage()"
  />

  @if (!mainLanguageIsEmpty()) {
  <div
    class="block rounded-md mb-2 border-gray-500 p-0 focus-within:p-2 focus-within:bg-gray-100 focus-within:border focus-within:border-gray-400 transition"
  >
    <label class="text-gray-800 font-medium text-sm">Contexto adicional</label>
    <textarea
      class="outline-none border-gray-400 w-full border-2 rounded-md p-2"
      placeholder="Para que a IA traduza corretamente, você pode fornecer uma explicação mais ampla sobre este texto"
      [formControl]="additionalContextControl"
    ></textarea>
  </div>

  <button
    [disabled]="mainLanguageIsEmpty() || requestingAi()"
    (click)="fillWithAi()"
    class="mb-4 flex items-center disabled:opacity-60 gap-2 disabled:grayscale font-semibold hover:bg-yellow-50 transition text-yellow-500 border-2 border-yellow-500 px-2 py-1 rounded-md"
  >
    @if (requestingAi()) {
    <div class="spinner"></div>
    <p>Preenchendo...</p>
    } @else {
    <p>Preencher o restante com IA</p>
    <app-icon class="transition rounded-full" name="sparkles"></app-icon>
    }
  </button>
  }

  <h2 class="text-xl w-full text-center font-semibold mb-4">
    {{ "Outros idiomas" }}
  </h2>

  @for (language of otherLanguages(); track language.key) { @let entry =
  language | call: getEntry;
  <app-translations-form-language
    class="block rounded-md mb-2 border-gray-500 p-0 focus-within:p-2 focus-within:bg-gray-100 focus-within:border focus-within:border-gray-400 transition"
    [entry]="entry"
    [form]="form.controls.entries"
    [language]="language"
  />
  }
</div>

<div class="w-full flex justify-end items-center pt-2">
  <button
    (click)="save()"
    [disabled]="form.invalid"
    class="bg-gray-800 min-w-[150px] text-white px-4 py-2 transition text-md rounded-md shadow-gray-400 drop-shadow-none shadow-md hover:shadow-lg hover:shadow-gray-400"
  >
    {{ confirmButtonName() }}
  </button>
</div>
