<h2 class="text-xl w-full text-center font-semibold mb-4">
	{{ title() }}
</h2>
<div class="w-full h-fit flex flex-col gap-2">
	<fkt-input
		label="Nome"
		placeholder="Informe aqui o nome"
		[control]="form.controls.label"/>
	<fkt-textarea
		label="Descrição"
		placeholder="Informe aqui a descrição"
		[control]="form.controls.description"/>

	<fkt-autocomplete
		label="Tipo de campo"
		placeholder="Informe aqui o tipo de campo"
		[options]="typeOptions"
		[control]="form.controls.type"/>


	@if (selectedType() === 'select') {
		<div class="my-4 max-h-[270px] overflow-y-auto">
			<h3 class="w-full  font-semibold">Opções</h3>

			<div
				cdkDropList
				[cdkDropListLockAxis]="'y'"
				[cdkDropListData]="form.controls.options.controls()"
				(cdkDropListDropped)="drop($event)"
			>
				@for (field of form.controls.options.controls(); track field.controls.id) {
					<div
						cdkDrag
						class="flex items-center gap-2"
					>
						<fkt-button
							cdkDragHandle
							icon="ellipsis-vertical"
							theme="basic"
							variant="rect"
						/>
						<fkt-input
							class="w-full"
							label="Nome da opção"
							placeholder="Informe aqui o nome"
							[control]="field.controls.label"
						/>

						<div class="flex items-center">
							@if (form.controls.options.controls().length > 1) {
								<fkt-button
									(click)="removeField(field)"
									class="!w-fit"
									variant="rect"
									theme="basic"
									color="red"
									icon="trash"
								/>
							}
							<fkt-button
								(click)="addField(field)"
								class="!w-fit"
								variant="rect"
								theme="basic"
								icon="plus"
							/>
						</div>

					</div>
				}
			</div>
		</div>
	}

	<fkt-checkbox
		label="Campo obrigatório"
		[control]="form.controls.required"
	/>
</div>
<div class="w-full flex justify-end items-center pt-2">
	<fkt-button
		[disabled]="!form.valid()"
		(click)="submit()"
		theme="raised"
		[text]="confirmButtonName()"
	/>
</div>
