@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	@font-face {
		font-family: 'Anton SC';
		src: url('/assets/fonts/anton-sc.ttf');
	}

	@font-face {
		font-family: 'Alata';
		src: url('/assets/fonts/alata.ttf');
	}

	@font-face {
		font-family: 'Noto Color Emoji';
		src: url('/assets/fonts/noto-color-emoji.ttf');
	}

	@font-face {
		font-family: 'Blabel';
		src: url('/assets/fonts/blabel.ttf');
	}

	* {
		font-family: Blabel, sans-serif;
	}
}

html,
body {
	overflow-x: hidden;
}

body {
	position: relative;
	@apply bg-gray-100;
}

.spinner {
	@apply border-yellow-100 size-5 border-[3px] rounded-full animate-spin;
	@apply border-t-yellow-500;
}

.cdk-drag-preview {
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
	border-radius: 0.5rem;
	height: auto !important;
	opacity: 0.95;
	background-color: white;
	padding: 1rem !important;
	transform: rotate(1deg);
	transition: transform 0.1s ease;
}

.cdk-drag-placeholder {
	opacity: 0.2;
	border: 2px dashed #a0aec0;
	min-height: 50px;
	border-radius: 0.5rem;
}

.cdk-drag-animating {
	transition: transform 0.25s ease, box-shadow 0.25s ease;
}
